# Ignore compiled output
**/*.o
*.pyc
*.class
*.pyth
*.pth
*.mp4
*.MP4
*.csv
*.xlsx
*.pkl
*.zip

# Ignore temporary files
.DS_Store
Thumbs.db

# Ignore IDE-specific files and directories
/.vscode
/.idea

# Ignore logs
/logs/
*.log

# Ignore sensitive data (example: API keys)
/secrets.txt

# Ignore dependencies installed via package manager
data/*/