# Ignore compiled output
**/*.o
*.pyc
*.class
*.pyth
*.pth
*.mp4
*.MP4
*.csv
*.xlsx
*.pkl
*.zip

# Ignore temporary files
.DS_Store
Thumbs.db

# Ignore IDE-specific files and directories
/.vscode
/.idea

# Ignore logs
/logs/
*.log

# Ignore sensitive data (example: API keys)
/secrets.txt

# Ignore dependencies installed via package manager
data/*/
aicity2023_release/pickles/A2/A1_dash_vmae_16x4_crop_fold_0.pkl
aicity2023_release/pickles/A2/A1_dash_vmae_16x4_crop_fold_1.pkl
aicity2023_release/pickles/A2/A1_dash_vmae_16x4_crop_fold_2.pkl
aicity2023_release/pickles/A2/A1_dash_vmae_16x4_crop_fold_3.pkl
aicity2023_release/pickles/A2/A1_dash_vmae_16x4_crop_fold_4.pkl